<mat-toolbar class="navbar">
  <div id="title">
    <a routerLink="/" routerLinkActive="router-link-active">
      <span style="font-size: 30px; border-bottom: dotted black 0.5px"
        >Ecoson</span
      >
    </a>
    <span style="font-size: 14px; font-style: bold; padding-left: 5px">
      [Información precisa sobre el cambio climático]</span
    >
  </div>

  <div class="navright">
    <a routerLink="noticias/all" routerLinkActive="router-link-active"
      >Noticias
    </a>
    <!-- <mat-menu #appMenu="matMenu">
      <span mat-menu-item>
        <a routerLinkActive="router-link-active">Incendios</a></span
      >
      <span mat-menu-item>Contaminación</span>
      <span mat-menu-item>Inundaciones</span>
      <span mat-menu-item>
        <a routerLink="noticias/all" routerLinkActive="router-link-active"
          >Todas</a
        >
      </span>
    </mat-menu> -->

    <a
      *ngIf="subir()"
      routerLink="noticias/create"
      routerLinkActive="router-link-active"
      >Subir Noticia</a
    >

    <a
      *ngIf="login()"
      routerLink="users/registro"
      routerLinkActive="router-link-active"
    >
      Registrate</a
    >

    <a
      *ngIf="login()"
      routerLink="users/login"
      routerLinkActive="router-link-active"
    >
      <button style="font-size: 1rem" color="warn" mat-raised-button>
        Ingresa a tu cuenta
      </button>
    </a>

    <a
      *ngIf="perfil()"
      routerLink="users/perfil"
      routerLinkActive="router-link-active"
      >Perfil</a
    >

    <a *ngIf="cerrar()">
      <button
        style="font-size: 1rem"
        mat-raised-button
        color="primary"
        (click)="logout()"
      >
        Cerrar Sesión
      </button>
    </a>
  </div>
</mat-toolbar>
<mat-toolbar style="height: 1rem">
  <!-- <div class="subnav">
    <a
      routerLink="noticias/categoria/incendios"
      routerLinkActive="router-link-active"
      >Incendios</a
    >
    <a
      routerLink="noticias/categoria/contaminacion"
      routerLinkActive="router-link-active"
      >Contaminación</a
    >

    <a
      routerLink="noticias/categoria/inundaciones"
      routerLinkActive="router-link-active"
      >Inundaciones</a
    >

    <a routerLink="noticias/all" routerLinkActive="router-link-active">Todas</a>
  </div> -->
</mat-toolbar>
<!-- logout -->
<!-- <span>Nosotros</span> -->
