<mat-toolbar class="navbar">
  <div id="title">
    <a routerLink="/" routerLinkActive="router-link-active">
      <span style="font-size: 30px; border-bottom: dotted black 0.5px"
        >Ecoson</span
      >
    </a>
    <span style="font-size: 14px; font-style: bold; padding-left: 5px">
      [Información precisa sobre el cambio climático]</span
    >
  </div>

  <div class="navright">
    <a routerLink="noticias/all" routerLinkActive="router-link-active"
      >Noticias
    </a>
    <!-- <mat-menu #appMenu="matMenu">
      <span mat-menu-item>
        <a routerLinkActive="router-link-active">Incendios</a></span
      >
      <span mat-menu-item>Contaminación</span>
      <span mat-menu-item>Inundaciones</span>
      <span mat-menu-item>
        <a routerLink="noticias/all" routerLinkActive="router-link-active"
          >Todas</a
        >
      </span>
    </mat-menu> -->

    <a routerLink="users/login" routerLinkActive="router-link-active"
      >Ingresa a tu cuenta</a
    >
    <a routerLink="users/registro" routerLinkActive="router-link-active">
      Registrate</a
    >
  </div>
</mat-toolbar>
<!-- logout -->
<!-- <span>Nosotros</span> -->
