#title{
    text-align: center;
    margin:1.4rem;
    color:indianred;
    text-transform: capitalize;
    border-bottom: 1px dotted black;
}
.mat-raised-button a:hover{
    text-decoration:none;
}
.mat-raised-button{
    margin:10px 0 0 0;
    font-size: 0.7rem;
}
.fecha{
    font-size: .8rem;
}